<!DOCTYPE html>
<html lang="ro">
  <head>
    
      <title>Eroare 404</title>
      
       <meta name="keywords" content="Aboutourbags">
       <meta name="description" content="Despre gentile noastre">
       <%- include("../fragmente/head") %>    
    
  </head>
    
   
  <body>
        
      <%- include("../fragmente/header") %>          
    
    <main>
        <section>
            <h2>403 FORBIDDEN</h2>
        </section>
        <p>You don`t have the permission to acces/on this server</p>
      
        <p  style="text-align:center;"><img src="resurse/imagini/eror403.jpg" alt="menu" width=400px" height="250px" text-aling="center"></p>

    </main>


    <%- include("../fragmente/footer") %>   


  </body>
</html>
