<!DOCTYPE html>
<html lang="ro">
  <head>
    
      <title>Eroare 404</title>
      
       <meta name="keywords" content="Aboutourbags">
       <meta name="description" content="Despre gentile noastre">
       <%- include("../fragmente/head") %>    
    
  </head>
    
   
  <body>
        
      <%- include("../fragmente/header") %>          
    
    <main>
        <section>
            <h2>Eroare 404</h2>
        </section>
        <p>OOPPSS!PAGE NOT FOUND. &#128532</p>
        <p  style="text-align:center;"><img src="resurse/imagini/eror.jpg" alt="menu" width="300px" height="300px" text-aling="center"></p>

    </main>


    <%- include("../fragmente/footer") %>   


  </body>
</html>
