<!DOCTYPE html>
<html lang="ro">
  <head>
    
      <title>Bagsforyou</title>
      
       <meta name="keywords" content="Aboutourbags">
       <meta name="description" content="Despre gentile noastre">
       <%- include("../fragmente/head") %>    
    
  </head>
    

  <body>
        
      <%- include("../fragmente/header") %>          
    
    <main>
        <img src="resurse/imagini/11.jpg" width="300" height="300">
        <p><strike>110euro</strike></p>
        <p>80euro</p>
        <img src="resurse/imagini/22.jpg" width="300" height="300">
        <p><strike>120euro</strike></p>
        <p>80euro</p>
        <img src="resurse/imagini/33.jpg" width="300" height="300">
        <p><strike>100euro</strike></p>
        <p>70euro</p>
    </main>


    <%- include("../fragmente/footer") %>   


  </body>
</html>
