hr{
        height: 100px;
        width: 100%;
        background-image: radial-gradient(circle 15px at 15% 85%, var(--alb) 60%, var(--mijloc) 25%, transparent), 
                          radial-gradient(circle 40px at 45% 60%,
        var(--alb) 60%, var(--placut) 25%, transparent),
                        radial-gradient(circle 30px at 70% 30%, var(--alb) 60%,
        var(--spreinchis) 25%, transparent);
        
        background-repeat: repeat-x;
        background-color: transparent;
        background-size: 100px 100px;
  
        border: none;
}
