
:root {
             --inchis: #5E3532;
             --deschis: #E3B4B1;
             --mijloc: #d8746d;
              --spreinchis:#692925; 
              --placut :#AB605B;
               --alb:#fafafa;
  } 