<footer>

  <section id="asezareServicii" >
    <section class="servicii">
      <h3>Servicii clienți</h3>
      <ul>
        <li><a href="https://www.w3schools.com/"> Informatii livrare</a></li>
        <li><a href="https://www.w3schools.com/">Politica retur</a></li>
        <li><a href="https://www.w3schools.com/">Impachetare cadou</a></li>
        <li><a href="https://www.w3schools.com/">Garantie produse</a></li>
      </ul>
      
    </section>

        <section class="servicii">
       <h3>Contul meu</h3>
        <ul>
          <li><a href="https://www.w3schools.com/">Cont</a></li>
          <li><a href="https://www.w3schools.com/">Istoric comenzi</a></li>
          <br><br>
        </ul>
    </section>
    <section class="servicii">
     <address> 
       <h3>Contact</h3>
        <ul>
          <li><a href="tel:0230511230">0230511230</a></li>
          <li><a href="tel:0754156856">0754156856</a></li>
          <li><a href="mailto:andreea71@yahoo.com">bags10@gmail.com</a></li>
          <br>
        </ul>
    </address>
    </section>
  </section>
   

      <a href="#top" title"sus!" id="link-top">
          <div class="diamond">
              <div class="picatura">
                <span class="tooltiptext">mergi sus	&#8593;</span>
                </div> 
          </div>
      </a>
    


 <div class="fbinsta">
   <a><i class="fab fa-facebook"></i></a>
   <a><i class="fab fa-twitter-square"></i></a>
   </div>

      <pre><small>&copy;Folosirea continutului acestui web site sau a unor parti din acesta fara instiintarea si aprobarea
    Profesionistului, ca cesionar exclusiv al dreptului de autor, se sanctioneaza conform legii.</small></pre>

      <time datetime="2021-02-14 20:00"></time>
      
      
  </footer>