
<nav>
    <label id="hamburger" for="ch-menu">
        <img src="resurse/imagini/hamburgerbun.png" alt="menu">
    </label>
      <input id="ch-menu" type="checkbox">
        <ul class="meniu">
              <li id="acasa"><a href="/">Acasă</a></li>

              <li id="ascuns">
                <a href="#">
                    <i class="fas fa-house-user"></i>
                  </a>
              </li>

              <li>
                <a href="/produse">Genti</a>
                <ul id="listuta">
                  <li><a href="#zona8">Genți de ocazie</a></li>  <!--LINK CATRE O ZONA DIN PAGINA-->
                  <li><a href="#genti3">Genți de plajă</a></li>
                  <li><a href="#genti4">Genți de umăr</a></li>
                  <li><a href="#genti5">Genți de mână</a></li>
                  <li><a href="#genti6">Borsete</a></li>
                </ul>
              </li>
            
              <li>
                <a href="#contact/">Accesorii</a>
                <ul id="listuta">
                    <li><a href="accesori">Portofele</a></li>
                    <li><a href="accesori">Clame</a></li>
                    <li><a href="accesori">Curele</a></li>
                    <li><a href="accesori">Bijuterii</a></li>
                    <li><a href="accesori">Agende</a></li>
                  </ul>
              </li>
              <li><a href="/reduceri">Reduceri </a></li>

              <li><a href="/produse">Produse </a>      
                  <ul id="listuta">
                    <li><a href="/produse">Toate</a></li>
                    <li><a href="/produse?categ=casual">Casual</a></li>
                    <li><a href="/produse?categ=plaja">Plaja</a></li>
                    <li><a href="/produse?categ=ocazie">Ocazie</a></li>
                  </ul>
             </li>
        </ul>
  </nav>

  <header id="normal">
       <h1><span>Bagsforyou</span><img id="silu" src="https://www.pngkit.com/png/detail/503-5031919_vector-silueta-mujer-moda.png" alt="Girl with a bag" ></h1>
  
   
  </header>